body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header,
footer {
    text-align: center;
    background-image: linear-gradient(to right, white 0%, #a1a1a1 50%);
    color: rgb(0, 0, 0);
    padding: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------*/
/* Navigation*/

/* Navigation mit Pfeil- und Listenicons */
.navigation {
    display: flex;
    justify-content: space-between;
    /* Alle Elemente gleichmässig verteilen */
    align-items: center;
    /* Elemente zentrieren vertikal */
}

.navigation a:hover img {
    transition: 0.5s;
    opacity: 0.5;
}

.links img,
.rechts img {
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 720px) {
    .navigation {
        flex-direction: column;
        /* Auf Stapel umschalten, wenn Bildschirm zu klein */
        align-items: flex-start;
        /* Links ausrichten, wenn aufgestapelt */
    }

    .home img,
    .links img,
    .rechts img {
        height: auto;
        width: auto;
        /* Automatische Höhe und Breite für kleine Bildschirme */
        max-height: 70px;
        max-width: 70px;
    }
}

/* ---------------------------------------------------------------------------------------------------------------*/
.container {
    display: flex;
    /* Flexbox-Container */
}

.box {
    flex: 1;
    /* Jede Box soll gleich viel Platz einnehmen */
    padding: 10px;
    background-image: linear-gradient(to top right, rgb(251, 198, 154) 0%, #ffdfbdea 20%);
    border: 20px solid;
    border-color: white;
    align-items: center;
    border-radius: 10%;
}

.api {
    text-align: center;
    background-color: #ffdfbdea;
    color: rgb(0, 0, 0);
    padding: 10px;
    justify-content: center;
    display: flex;
}

.time {
    text-align: center;
    background-color: #ffdfbdea;
    color: rgb(0, 0, 0);
    padding: 10px;
    justify-content: center;
    display: flex;
}

.animation {
    text-align: center;
    background-color: #ffdfbdea;
    color: rgb(0, 0, 0);
    padding: 10px;
    justify-content: center;
    display: flex;
}

h2 {
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    text-align: center;
    background-color: #000000be;
    color: white;
    padding: 10px;
    font-size: 30px;
}

p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container2 {
    display: flex;
}

.box2 {
    flex: 1;
    padding: 10px;
    background-image: linear-gradient(to top right, rgb(251, 198, 154) 0%, #ffdfbdea 20%);
    border: 20px solid;
    border-color: white;
    align-items: center;
    border-radius: 5%;
}

.photo {
    width: 50%;
    border-radius: 5%;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.animation {
    position: relative;
    overflow: hidden;
}

.animation img {
    height: 60%;
    width: 40%;
}

.movingImage {
    position: absolute;
    top: 0;
    left: 0;
    /* Startposition */
    opacity: 0.7;
    /* Deckkraft verringern */
    width: 100px;
    /* Breite der Wolkenbilder */
    height: 100px;
    /* Automatische Höhe entsprechend der Breite */
}


.section {
    display: flex;
    flex: 1;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Clouds */

@keyframes moveCloud1 {
    0% {
        left: -100px;
    }

    /* Startposition */
    100% {
        left: calc(100% + 100px);
    }

    /* Endposition */
}

@keyframes moveCloud2 {
    0% {
        left: -100px;
    }

    /* Startposition */
    100% {
        left: calc(100% + 200px);
    }

    /* Endposition */
}

@keyframes moveCloud3 {
    0% {
        left: -100px;
    }

    /* Startposition */
    100% {
        left: calc(100% + 300px);
    }

    /* Endposition */
}

#cloud1 {
    animation: moveCloud1 5s linear infinite;
    /* Animation starten */
}

#cloud2 {
    animation: moveCloud2 7s linear infinite;
    /* Animation starten */
}

#cloud3 {
    animation: moveCloud3 9s linear infinite;
    /* Animation starten */
}


/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Clear */

@keyframes moveSun {
    0% {
        left: -100px;
    }

    /* Startposition */
    100% {
        left: calc(100% + 100px);
    }

    /* Endposition */
}

#sun {
    animation: moveSun 5s linear infinite;
    /* Animation starten */
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/* Rain */
@keyframes moveRainCloud1 {
    0% {
        left: -100px;
    }

    /* Startposition */
    100% {
        left: calc(100% + 100px);
    }

    /* Endposition */
}

@keyframes moveRainCloud2 {
    0% {
        left: -100px;
    }

    /* Startposition */
    100% {
        left: calc(100% + 200px);
    }

    /* Endposition */
}

@keyframes moveRainCloud3 {
    0% {
        left: -100px;
    }

    /* Startposition */
    100% {
        left: calc(100% + 300px);
    }

    /* Endposition */
}

#rainCloud1 {
    animation: moveRainCloud1 5s linear infinite;
    /* Animation starten */
}

#rainCloud2 {
    animation: moveRainCloud2 7s linear infinite;
    /* Animation starten */
}

#rainCloud3 {
    animation: moveRainCloud3 9s linear infinite;
    /* Animation starten */
}

/*----------------------------------------------------------------------------------------------------------------------------------*/

/* Drizzle */
@keyframes moveDrizzleCloud1 {
    0% {
        left: -100px;
    }

    /* Startposition */
    100% {
        left: calc(100% + 100px);
    }

    /* Endposition */
}

@keyframes moveDrizzleCloud2 {
    0% {
        left: -100px;
    }

    /* Startposition */
    100% {
        left: calc(100% + 200px);
    }

    /* Endposition */
}

@keyframes moveDrizzleCloud3 {
    0% {
        left: -100px;
    }

    /* Startposition */
    100% {
        left: calc(100% + 300px);
    }

    /* Endposition */
}

#drizzleCloud1 {
    animation: moveDrizzleCloud1 5s linear infinite;
    /* Animation starten */
}

#drizzleCloud2 {
    animation: moveDrizzleCloud2 7s linear infinite;
    /* Animation starten */
}

#drizzleCloud3 {
    animation: moveDrizzleCloud3 9s linear infinite;
    /* Animation starten */
}

/*----------------------------------------------------------------------------------------------------------------------------------*/

/* Styles für den Uhr-Container */
.clock {
    position: relative;
    width: 100vmin;
    height: 60vmin;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Styles für relative;äußeren Kreis des Zifferblatts */
.outer-clock-face {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 4vmin solid #333;
    border-radius: 50%;
}

/* Styles für die Uhrmarkierungen (Stundenindikatoren) */
.marking {
    position: absolute;
    background: #fffefe;
    width: 0.8vmin;
    height: 3.2vmin;
    top: 40%;
    left: 50%;
    transform-origin: 50% 100%;
    z-index: 1;
}

/* Spezifische Stile für einzelne Markierungen */
.marking-one {
    top: 85%;
}

.marking-two {
    top: 5%;
}

.marking-three {
    left: 85%;
    transform: rotate(90deg);
}

.marking-four {
    left: 15%;
    transform: rotate(270deg);
}

/* Styles für den inneren Kreis des Zifferblatts */
.inner-clock-face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

.point {
    position: relative;
    width: 4vmin;
    height: 4vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    border-radius: 100px;
}

/* Uhrzeiger (Stunden-, Minuten- und Sekundenzeiger) */
.hand {
    position: absolute;
    background: #fffcfc;
    transform-origin: 50% 100%;
}

/* Stundenzeiger */
.hour-hand {
    width: 2vmin;
    height: 45%;
    top: 5%;
    left: 47%;
    transform: translateX(-50%);
}

/* Minutenzeiger */
.min-hand {
    width: 1.2vmin;
    height: 45%;
    top: 5%;
    left: 49%;
    transform: translateX(-50%);
}

/* Sekundenzeiger */
.second-hand {
    width: 0.8vmin;
    height: 45%;
    top: 5%;
    left: 49%;
    transform: translateX(-50%);
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*Damit die Grösse angepasst wird wenn man das Fenster verkleinert*/
@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .box {
        flex: 1 1 auto;
    }
}