body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header,
footer {
    text-align: center;
    background-color: #a1a1a1;
    color: white;
    padding: 10px;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.city {
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
}

.city img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
}

.city img:hover {
    transform: scale(1.05);
}



@media only screen and (max-width: 1200px) {
    .city {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}