body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #a1a1a1;
    color: white;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: #a1a1a1;
    color: white;
    padding: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section img {
    width: calc(33.33% - 20px);
    margin: 10px 0;
}

@media only screen and (max-width: 1200px) {
    section img {
        width: 100%;
    }
}